Repository Topo-Labs/Coinfair-Solana-Backend, changes with the owners that .github/CODEOWNERS names for each.
All owners: @project-owner, @tech-lead, @rust-expert, @devops-lead, @security-lead, @backend-dev, @database-expert, @api-expert, @business-logic-expert, @solana-expert, @blockchain-dev, @defi-expert, @frontend-dev, @qa-lead, @tech-writer, @performance-expert

.github/CODEOWNERS:

# 🔒 Coinfair代码所有者配置文件
# 此文件定义了代码库中不同部分的所有者和审查者
# 当创建pull request时，相关所有者将自动被请求进行代码审查

# ============ 全局规则 ============
# 默认情况下，以下用户对所有代码有审查权
* @project-owner @tech-lead

# ============ 核心架构 ============
# 主要配置文件和架构决策需要架构师审查
/Cargo.toml @tech-lead @rust-expert
/Cargo.lock @tech-lead @rust-expert  
/rustfmt.toml @tech-lead @rust-expert
/Makefile @devops-lead @tech-lead
/docker-compose.yaml @devops-lead @tech-lead
/.env.* @security-lead @devops-lead @tech-lead
/CLAUDE.md @tech-lead @project-owner

# ============ 主应用程序 ============
# 主要应用程序入口和协调逻辑
/crates/coinfair/ @tech-lead @rust-expert
/crates/utils/ @rust-expert @backend-dev

# ============ 数据库层 ============
# 数据模型、仓库模式和数据库迁移
/crates/database/ @database-expert @backend-dev
/migrations/ @database-expert @tech-lead
/schema/ @database-expert @tech-lead

# ============ API服务器 ============
# Web服务器、控制器、服务层和DTO
/crates/server/ @backend-dev @api-expert
/crates/server/src/api/ @api-expert @backend-dev
/crates/server/src/services/ @backend-dev @business-logic-expert
/crates/server/src/dto/ @api-expert @backend-dev

# ============ Solana区块链集成 ============
# Solana相关代码需要区块链专家审查
/crates/solana/ @solana-expert @blockchain-dev @tech-lead
/crates/solana/clmm/ @solana-expert @defi-expert
/crates/solana/clmm-client/ @solana-expert @blockchain-dev
/crates/solana/cpmm/ @solana-expert @defi-expert  
/crates/solana/cpmm-client/ @solana-expert @blockchain-dev
/crates/solana/referral/ @solana-expert @business-logic-expert

# ============ DeFi功能 ============
# DeFi业务逻辑和交换功能
/crates/dex/ @defi-expert @business-logic-expert @solana-expert

# ============ 事件监听器 ============
# 区块链事件监听和处理
/crates/solana-event-listener/ @solana-expert @blockchain-dev @backend-dev

# ============ 监控和定时器 ============
# 系统监控和定时任务
/crates/monitor/ @backend-dev @devops-lead
/crates/timer/ @backend-dev @business-logic-expert

# ============ Telegram机器人 ============
# Telegram集成和用户界面
/crates/telegram/ @frontend-dev @api-expert

# ============ 安全相关 ============
# 安全配置和认证相关代码需要安全团队审查
**/auth* @security-lead @backend-dev
**/security* @security-lead @tech-lead
**/jwt* @security-lead @backend-dev
**/*auth* @security-lead @backend-dev
**/*security* @security-lead @tech-lead

# ============ CI/CD和DevOps ============
# 构建、部署和CI/CD配置
/.github/ @devops-lead @tech-lead
/.github/workflows/ @devops-lead @tech-lead @security-lead
/Dockerfile @devops-lead @backend-dev
/scripts/ @devops-lead @tech-lead
/deploy/ @devops-lead @tech-lead @security-lead

# ============ 测试文件 ============
# 测试代码和测试脚本
/tests/ @qa-lead @backend-dev
/**/test_*.sh @qa-lead @devops-lead
/**/tests/ @qa-lead @backend-dev
/**/*test*.rs @qa-lead @backend-dev

# ============ 文档 ============
# 文档和README文件
/docs/ @tech-writer @tech-lead
/README.md @tech-writer @tech-lead @project-owner
/**/*.md @tech-writer

# ============ 配置文件 ============
# 各种配置文件需要相应专家审查
*.toml @rust-expert @tech-lead
*.yaml @devops-lead @backend-dev
*.yml @devops-lead @backend-dev
*.json @backend-dev
*.env @security-lead @devops-lead

# ============ 特殊业务逻辑 ============
# 关键业务逻辑需要业务专家和技术负责人共同审查
**/swap* @defi-expert @solana-expert @business-logic-expert
**/pool* @defi-expert @solana-expert @business-logic-expert  
**/liquidity* @defi-expert @solana-expert @business-logic-expert
**/reward* @business-logic-expert @defi-expert
**/referral* @business-logic-expert @defi-expert
**/clmm* @solana-expert @defi-expert @tech-lead
**/amm* @solana-expert @defi-expert @tech-lead

# ============ 性能关键代码 ============
# 性能敏感的代码需要性能专家审查
**/optimized* @performance-expert @rust-expert
**/performance* @performance-expert @backend-dev
**/batch* @performance-expert @backend-dev
**/cache* @performance-expert @backend-dev

# ============ 数据迁移和恢复 ============
# 数据迁移脚本需要数据库专家和安全团队审查
/Recover.md @database-expert @security-lead @tech-lead
**/migration* @database-expert @tech-lead
**/backup* @database-expert @devops-lead
**/restore* @database-expert @devops-lead

# ============ 第三方集成 ============
# 第三方服务集成需要安全审查
**/jupiter* @solana-expert @security-lead
**/raydium* @solana-expert @defi-expert
**/metaplex* @solana-expert @blockchain-dev

# ============ 团队成员说明 ============
# 以下是团队成员角色说明，实际使用时请替换为真实的GitHub用户名：
#
# @project-owner - 项目负责人
# @tech-lead - 技术负责人  
# @rust-expert - Rust专家
# @solana-expert - Solana区块链专家
# @defi-expert - DeFi领域专家
# @backend-dev - 后端开发工程师
# @blockchain-dev - 区块链开发工程师
# @database-expert - 数据库专家
# @security-lead - 安全负责人
# @devops-lead - DevOps负责人
# @api-expert - API设计专家
# @business-logic-expert - 业务逻辑专家
# @performance-expert - 性能优化专家
# @qa-lead - 测试负责人
# @tech-writer - 技术文档专家
# @frontend-dev - 前端开发工程师
#
# 使用说明：
# 1. 将上述占位符替换为实际的GitHub用户名
# 2. 根据团队结构调整审查规则
# 3. 可以使用团队名称 (如 @org/backend-team) 替代个人用户名
# 4. 规则从上到下匹配，后面的规则会覆盖前面的规则

feature: add cpmm swap api
  Cargo.lock
  crates/server/Cargo.toml
  crates/server/src/api/solana/cpmm/cpmm_swap_controller.rs
  crates/server/src/api/solana/cpmm/mod.rs
  crates/server/src/api/solana/cpmm/pool_create_controller.rs
  crates/server/src/api/solana/mod.rs
  crates/server/src/dtos/solana/common.rs
  crates/server/src/dtos/solana/cpmm/mod.rs
  crates/server/src/dtos/solana/cpmm/swap/mod.rs
  crates/server/src/dtos/solana/cpmm/swap/swap_base_in.rs
  crates/server/src/services/docs/docs.rs
  crates/server/src/services/solana/clmm/config/config_service.rs
  crates/server/src/services/solana/clmm/event/event_tests.rs
  crates/server/src/services/solana/clmm/liquidity_line/liquidity_line_service.rs
  crates/server/src/services/solana/cpmm/pool/pool_service.rs
  crates/server/src/services/solana/cpmm/swap/mod.rs
  crates/server/src/services/solana/cpmm/swap/swap_service.rs
  crates/server/src/services/solana/service.rs
  crates/solana-event-listener/src/persistence/event_storage.rs
  crates/solana/amm/Cargo.toml
  crates/solana/clmm/Cargo.toml
  crates/solana/cpmm-client/Cargo.toml
  crates/solana/cpmm-client/src/instructions/events_instructions_parse.rs
  crates/solana/cpmm-client/src/lib.rs
  crates/solana/cpmm/Cargo.toml
  crates/utils/src/config.rs
Owners: @tech-lead, @rust-expert, @api-expert, @backend-dev, @defi-expert, @solana-expert, @business-logic-expert, @blockchain-dev

feature: finish cpmm swap-base-out
  crates/server/src/api/solana/cpmm/cpmm_swap_controller.rs
  crates/server/src/dtos/solana/cpmm/swap/mod.rs
  crates/server/src/dtos/solana/cpmm/swap/swap_base_out.rs
  crates/server/src/services/solana/clmm/config/config_service.rs
  crates/server/src/services/solana/clmm/event/event_tests.rs
  crates/server/src/services/solana/clmm/liquidity_line/liquidity_line_service.rs
  crates/server/src/services/solana/cpmm/pool/pool_service.rs
  crates/server/src/services/solana/cpmm/swap/swap_service.rs
  crates/server/src/services/solana/service.rs
  crates/solana-event-listener/src/persistence/event_storage.rs
  crates/utils/src/config.rs
Owners: @api-expert, @backend-dev, @defi-expert, @solana-expert, @business-logic-expert, @tech-lead, @blockchain-dev, @rust-expert

feature: finish /api/v1/solana/main/cpmm-config
  crates/database/src/cpmm/cpmm_config/mod.rs
  crates/database/src/cpmm/cpmm_config/model.rs
  crates/database/src/cpmm/cpmm_config/repository.rs
  crates/database/src/cpmm/mod.rs
  crates/database/src/lib.rs
  crates/server/src/api/solana/cpmm/cpmm_config_controller.rs
  crates/server/src/api/solana/cpmm/mod.rs
  crates/server/src/api/solana/mod.rs
  crates/server/src/dtos/statics/static_dto.rs
  crates/server/src/services/solana/cpmm/config/config_service.rs
  crates/server/src/services/solana/cpmm/config/mod.rs
  crates/server/src/services/solana/cpmm/mod.rs
  crates/server/src/services/solana/service.rs
Owners: @database-expert, @backend-dev, @api-expert, @business-logic-expert

feature: modify cpmmconfig modle field create_pool_fee type from String to u64
  crates/database/src/cpmm/cpmm_config/model.rs
  crates/database/src/cpmm/cpmm_config/repository.rs
  crates/server/src/api/solana/cpmm/cpmm_config_controller.rs
  crates/server/src/dtos/statics/mod.rs
  crates/server/src/dtos/statics/static_dto.rs
  crates/server/src/services/solana/clmm/config/config_service.rs
  crates/server/src/services/solana/clmm/event/event_tests.rs
  crates/server/src/services/solana/clmm/liquidity_line/liquidity_line_service.rs
  crates/server/src/services/solana/cpmm/config/config_service.rs
  crates/server/src/services/solana/cpmm/pool/pool_service.rs
  crates/server/src/services/solana/cpmm/swap/mod.rs
  crates/solana-event-listener/src/persistence/event_storage.rs
  crates/utils/src/config.rs
Owners: @database-expert, @backend-dev, @api-expert, @solana-expert, @defi-expert, @tech-lead, @business-logic-expert, @blockchain-dev, @rust-expert

feature: finish deposit and withdraw api
  Cargo.lock
  crates/server/Cargo.toml
  crates/server/src/api/solana/cpmm/deposit_controller.rs
  crates/server/src/api/solana/cpmm/mod.rs
  crates/server/src/api/solana/cpmm/withdraw_controller.rs
  crates/server/src/api/solana/mod.rs
  crates/server/src/dtos/solana/cpmm/deposit/deposit_dto.rs
  crates/server/src/dtos/solana/cpmm/deposit/mod.rs
  crates/server/src/dtos/solana/cpmm/mod.rs
  crates/server/src/dtos/solana/cpmm/withdraw/mod.rs
  crates/server/src/dtos/solana/cpmm/withdraw/withdraw_dto.rs
  crates/server/src/services/solana/cpmm/deposit/deposit_service.rs
  crates/server/src/services/solana/cpmm/deposit/mod.rs
  crates/server/src/services/solana/cpmm/mod.rs
  crates/server/src/services/solana/cpmm/swap/swap_service.rs
  crates/server/src/services/solana/cpmm/withdraw/mod.rs
  crates/server/src/services/solana/cpmm/withdraw/simple_tests.rs
  crates/server/src/services/solana/cpmm/withdraw/withdraw_service.rs
  crates/server/src/services/solana/service.rs
  crates/solana/cpmm/src/instructions/deposit.rs
Owners: @tech-lead, @rust-expert, @api-expert, @backend-dev, @business-logic-expert, @defi-expert, @solana-expert, @qa-lead

feature: add new fields to LpChangeEvent
  crates/solana/cpmm/src/instructions/deposit.rs
  crates/solana/cpmm/src/instructions/initialize.rs
  crates/solana/cpmm/src/instructions/withdraw.rs
  crates/solana/cpmm/src/states/events.rs
Owners: @solana-expert, @defi-expert

feature: add new fileds to LpChangeEvent
  crates/solana/cpmm/src/instructions/deposit.rs
  crates/solana/cpmm/src/instructions/initialize.rs
  crates/solana/cpmm/src/instructions/withdraw.rs
  crates/solana/cpmm/src/states/events.rs
Owners: @solana-expert, @defi-expert

feature: finish LpChangeEvent api and event implementation
  crates/database/src/cpmm/lp_change_event/mod.rs
  crates/database/src/cpmm/lp_change_event/model.rs
  crates/database/src/cpmm/lp_change_event/repository.rs
  crates/database/src/cpmm/mod.rs
  crates/database/src/lib.rs
  crates/server/src/api/solana/cpmm/lp_change_event_controller.rs
  crates/server/src/api/solana/cpmm/mod.rs
  crates/server/src/api/solana/mod.rs
  crates/server/src/dtos/solana/common.rs
  crates/server/src/dtos/solana/cpmm/lp_change_event.rs
  crates/server/src/dtos/solana/cpmm/mod.rs
  crates/server/src/services/solana/cpmm/lp_change_event/lp_change_event_error.rs
  crates/server/src/services/solana/cpmm/lp_change_event/lp_change_event_service.rs
  crates/server/src/services/solana/cpmm/lp_change_event/mod.rs
  crates/server/src/services/solana/cpmm/mod.rs
  crates/server/src/services/solana/service.rs
  crates/solana-event-listener/src/parser/cpmm_lp_change_parser.rs
  crates/solana-event-listener/src/parser/deposit_event_parser.rs
  crates/solana-event-listener/src/parser/event_parser.rs
  crates/solana-event-listener/src/parser/launch_event_parser.rs
  crates/solana-event-listener/src/parser/mod.rs
  crates/solana-event-listener/src/parser/nft_claim_parser.rs
  crates/solana-event-listener/src/parser/pool_creation_parser.rs
  crates/solana-event-listener/src/parser/reward_distribution_parser.rs
  crates/solana-event-listener/src/parser/swap_parser.rs
  crates/solana-event-listener/src/parser/token_creation_parser.rs
  crates/solana-event-listener/src/persistence/event_storage.rs
  crates/solana-event-listener/src/tests/core_validation_test.rs
  crates/solana-event-listener/src/tests/simple_e2e_test.rs
Owners: @database-expert, @backend-dev, @api-expert, @business-logic-expert, @solana-expert, @blockchain-dev, @defi-expert, @qa-lead

chore: little refactor
  crates/server/src/api/solana/cpmm/lp_change_event_controller.rs
  crates/server/src/dtos/solana/cpmm/lp/lp_change_event.rs
  crates/server/src/dtos/solana/cpmm/lp/mod.rs
  crates/server/src/dtos/solana/cpmm/mod.rs
  crates/server/src/services/solana/cpmm/lp_change_event/lp_change_event_service.rs
  crates/server/src/services/solana/service.rs
Owners: @api-expert, @backend-dev, @business-logic-expert

feature: finish lp_mint_pool query
  crates/database/src/cpmm/lp_change_event/repository.rs
  crates/server/src/api/solana/cpmm/lp_change_event_controller.rs
  crates/server/src/dtos/solana/common.rs
  crates/server/src/dtos/solana/cpmm/lp/mod.rs
  crates/server/src/dtos/solana/cpmm/lp/query_lp_mint.rs
  crates/server/src/services/solana/cpmm/lp_change_event/lp_change_event_service.rs
  crates/server/src/services/solana/cpmm/lp_change_event/lp_mint_query_service.rs
  crates/server/src/services/solana/cpmm/lp_change_event/mod.rs
  crates/server/src/services/solana/service.rs
Owners: @database-expert, @backend-dev, @api-expert, @business-logic-expert

chore: 1，modify cpmm swap router to meet fronend standard; 2, modify launchpad token owner to Token2022
  crates/server/src/api/solana/cpmm/cpmm_swap_controller.rs
  crates/solana-event-listener/src/parser/token_creation_parser.rs
  crates/solana-event-listener/src/persistence/event_storage.rs
Owners: @api-expert, @backend-dev, @solana-expert, @blockchain-dev

feature: finish InitPoolEvent API developping
  crates/database/src/cpmm/init_pool_event/mod.rs
  crates/database/src/cpmm/init_pool_event/model.rs
  crates/database/src/cpmm/init_pool_event/repository.rs
  crates/database/src/cpmm/init_pool_event/tests.rs
  crates/database/src/cpmm/lp_change_event/repository.rs
  crates/database/src/cpmm/mod.rs
  crates/database/src/lib.rs
  crates/server/src/api/solana/cpmm/init_pool_event_controller.rs
  crates/server/src/api/solana/cpmm/lp_change_event_controller.rs
  crates/server/src/api/solana/cpmm/mod.rs
  crates/server/src/api/solana/mod.rs
  crates/server/src/dtos/solana/cpmm/pool/init_pool_event.rs
  crates/server/src/dtos/solana/cpmm/pool/mod.rs
  crates/server/src/services/solana/cpmm/init_pool_event/init_pool_event_error.rs
  crates/server/src/services/solana/cpmm/init_pool_event/init_pool_event_service.rs
  crates/server/src/services/solana/cpmm/init_pool_event/mod.rs
  crates/server/src/services/solana/cpmm/lp_change_event/lp_change_event_service.rs
  crates/server/src/services/solana/cpmm/mod.rs
  crates/server/src/services/solana/service.rs
Owners: @database-expert, @backend-dev, @qa-lead, @api-expert, @defi-expert, @solana-expert, @business-logic-expert

feature: add InitPoolEvent for cpmm pool
  Cargo.lock
  crates/solana-event-listener/Cargo.toml
  crates/solana-event-listener/src/config/settings.rs
  crates/solana-event-listener/src/parser/cpmm_init_pool_parser.rs
  crates/solana-event-listener/src/parser/deposit_event_parser.rs
  crates/solana-event-listener/src/parser/event_parser.rs
  crates/solana-event-listener/src/parser/launch_event_parser.rs
  crates/solana-event-listener/src/parser/mod.rs
  crates/solana-event-listener/src/parser/nft_claim_parser.rs
  crates/solana-event-listener/src/parser/pool_creation_parser.rs
  crates/solana-event-listener/src/parser/reward_distribution_parser.rs
  crates/solana-event-listener/src/parser/swap_parser.rs
  crates/solana-event-listener/src/parser/token_creation_parser.rs
  crates/solana-event-listener/src/persistence/batch_writer.rs
  crates/solana-event-listener/src/persistence/event_storage.rs
  crates/solana-event-listener/src/services/migration_client.rs
  crates/solana-event-listener/src/tests/core_validation_test.rs
  crates/solana-event-listener/src/tests/e2e_tests.rs
  crates/solana-event-listener/src/tests/full_e2e_test.rs
  crates/solana-event-listener/src/tests/integration_tests.rs
  crates/solana-event-listener/src/tests/metadata_integration_test.rs
  crates/solana-event-listener/src/tests/simple_e2e_test.rs
Owners: @tech-lead, @rust-expert, @solana-expert, @blockchain-dev, @backend-dev, @defi-expert, @business-logic-expert, @performance-expert, @database-expert, @qa-lead

feature: modify route /cpmm/compute/swap-base-in and /cpmm/compute/swap-base-out from post to get
  crates/server/src/api/solana/cpmm/cpmm_swap_controller.rs
  crates/server/src/dtos/solana/cpmm/swap/swap_base_in.rs
  crates/server/src/dtos/solana/cpmm/swap/swap_base_out.rs
Owners: @api-expert, @backend-dev, @defi-expert, @solana-expert, @business-logic-expert

feature: 1,fix InitPoolEvent signature validate bug; 2, add referral account to cpmm swap
  crates/server/src/services/solana/cpmm/swap/mod.rs
  crates/server/src/services/solana/cpmm/swap/swap_service.rs
  crates/solana-event-listener/src/parser/cpmm_init_pool_parser.rs
  crates/solana/cpmm/src/curve/constant_product.rs
  crates/utils/src/solana/config.rs
  crates/utils/src/solana/constants.rs
Owners: @defi-expert, @solana-expert, @business-logic-expert, @blockchain-dev, @backend-dev, @rust-expert

bugfix: LpChangeEvent fields fix
  crates/database/src/cpmm/lp_change_event/repository.rs
  crates/database/src/events/event_model/event_model_repository.rs
  crates/solana-event-listener/src/parser/cpmm_init_pool_parser.rs
  crates/solana-event-listener/src/parser/cpmm_lp_change_parser.rs
  crates/solana-event-listener/src/recovery/backfill_handler.rs
  crates/solana-event-listener/src/recovery/backfill_manager.rs
Owners: @database-expert, @backend-dev, @solana-expert, @blockchain-dev

chore: finish swap_base_out build and send transaction test
  Cargo.lock
  crates/server/src/services/solana/clmm/swap/swap_service.rs
  crates/server/src/services/solana/cpmm/swap/mod.rs
  crates/server/src/services/solana/cpmm/swap/swap_service.rs
  crates/server/src/services/solana/service.rs
  crates/solana/cpmm/Cargo.toml
  crates/solana/cpmm/src/curve/constant_product.rs
  crates/solana/cpmm/src/instructions/deposit.rs
  crates/solana/cpmm/src/instructions/initialize.rs
  crates/solana/cpmm/src/instructions/withdraw.rs
  crates/solana/cpmm/src/states/events.rs
  crates/solana/cpmm/src/utils/account_load.rs
  crates/utils/src/solana/managers.rs
  crates/utils/src/solana/service_helpers.rs
Owners: @tech-lead, @rust-expert, @solana-expert, @defi-expert, @business-logic-expert, @backend-dev

feature: add config and mintA/mintB and other fields like price returning in api /api/v1/solana/events/cpmm/init-pool-events/query-details
  crates/database/src/cpmm/init_pool_event/model.rs
  crates/database/src/cpmm/init_pool_event/repository.rs
  crates/database/src/cpmm/init_pool_event/tests.rs
  crates/server/src/api/solana/cpmm/init_pool_event_controller.rs
  crates/server/src/dtos/solana/cpmm/pool/init_pool_event.rs
  crates/server/src/services/solana/cpmm/init_pool_event/init_pool_event_service.rs
  crates/server/src/services/solana/service.rs
  crates/solana-event-listener/src/parser/cpmm_init_pool_parser.rs
  crates/solana-event-listener/src/persistence/event_storage.rs
Owners: @database-expert, @backend-dev, @qa-lead, @api-expert, @defi-expert, @solana-expert, @business-logic-expert, @blockchain-dev

feature: update cpmm to latest from orderk
  crates/solana/cpmm/src/curve/calculator.rs
  crates/solana/cpmm/src/curve/constant_product.rs
  crates/solana/cpmm/src/instructions/swap_base_input.rs
Owners: @solana-expert, @defi-expert, @business-logic-expert

feature: finish swap_base_in build and send
  crates/server/src/lib.rs
  crates/server/src/services/solana/cpmm/swap/swap_service.rs
  crates/solana/cpmm/src/curve/constant_product.rs
  crates/solana/cpmm/src/instructions/swap_base_input.rs
  crates/solana/cpmm/src/instructions/swap_base_output.rs
  crates/solana/cpmm/src/utils/account_load.rs
Owners: @backend-dev, @api-expert, @defi-expert, @solana-expert, @business-logic-expert

update dex contract swap_base_output, finish swap_base_in and swap_base_out test
  crates/solana/cpmm/src/instructions/swap_base_output.rs
Owners: @defi-expert, @solana-expert, @business-logic-expert

feature: update cpmm contract code and do adaption to new code
  Cargo.lock
  crates/server/src/services/solana/cpmm/swap/swap_service.rs
  crates/solana/cpmm-client/Cargo.toml
  crates/solana/cpmm-client/src/instructions/amm_instructions.rs
  crates/solana/cpmm-client/src/main.rs
  crates/solana/cpmm/Cargo.toml
  crates/solana/cpmm/src/curve/calculator.rs
  crates/solana/cpmm/src/curve/constant_product.rs
  crates/solana/cpmm/src/instructions/initialize.rs
  crates/solana/cpmm/src/instructions/swap_base_input.rs
  crates/solana/cpmm/src/instructions/swap_base_output.rs
  crates/solana/cpmm/src/lib.rs
  crates/solana/cpmm/src/utils/token.rs
Owners: @tech-lead, @rust-expert, @defi-expert, @solana-expert, @business-logic-expert, @blockchain-dev

feature: update cpmm to latest code from orderk
  crates/solana/cpmm/src/curve/calculator.rs
  crates/solana/cpmm/src/curve/constant_product.rs
  crates/solana/cpmm/src/instructions/swap_base_input.rs
  crates/solana/cpmm/src/instructions/swap_base_output.rs
Owners: @solana-expert, @defi-expert, @business-logic-expert

feature: update cpmm to latest code from orderk
  crates/solana/cpmm-client/src/instructions/amm_instructions.rs
  crates/solana/cpmm/src/instructions/initialize.rs
  crates/solana/cpmm/src/instructions/swap_base_input.rs
  crates/solana/cpmm/src/utils/token.rs
Owners: @solana-expert, @defi-expert, @tech-lead, @business-logic-expert

feature: update cpmm source code to lastest version from lao zhang
  crates/solana/cpmm-client/src/instructions/amm_instructions.rs
  crates/solana/cpmm/src/curve/calculator.rs
  crates/solana/cpmm/src/curve/constant_product.rs
  crates/solana/cpmm/src/error.rs
  crates/solana/cpmm/src/instructions/admin/collect_fund_fee.rs
  crates/solana/cpmm/src/instructions/deposit.rs
  crates/solana/cpmm/src/instructions/initialize.rs
  crates/solana/cpmm/src/instructions/swap_base_input.rs
  crates/solana/cpmm/src/instructions/swap_base_output.rs
  crates/solana/cpmm/src/instructions/withdraw.rs
  crates/solana/cpmm/src/states/oracle.rs
  crates/solana/cpmm/src/utils/token.rs
  crates/utils/tests/test_ata_calc.rs
Owners: @solana-expert, @defi-expert, @tech-lead, @business-logic-expert, @qa-lead, @backend-dev

feature: update cpmm source code to lastest version from lao zhang
  crates/solana/cpmm/src/instructions/withdraw.rs
Owners: @solana-expert, @defi-expert

feature finish UserPointsSummary model and repository and one webapi development
  crates/database/src/cpmm/mod.rs
  crates/database/src/cpmm/points/mod.rs
  crates/database/src/cpmm/points/model.rs
  crates/database/src/cpmm/points/repository.rs
  crates/database/src/cpmm/points/tests.rs
  crates/database/src/lib.rs
  crates/server/src/api/solana/cpmm/mod.rs
  crates/server/src/api/solana/cpmm/points_controller.rs
  crates/server/src/api/solana/mod.rs
  crates/server/src/dtos/solana/cpmm/mod.rs
  crates/server/src/dtos/solana/cpmm/points/mod.rs
  crates/server/src/dtos/solana/cpmm/points/points_stats.rs
  crates/server/src/services/solana/cpmm/lp_change_event/lp_change_event_service.rs
  crates/server/src/services/solana/cpmm/mod.rs
  crates/server/src/services/solana/cpmm/points/mod.rs
  crates/server/src/services/solana/cpmm/points/points_service.rs
  crates/server/src/services/solana/service.rs
Owners: @database-expert, @backend-dev, @qa-lead, @api-expert, @business-logic-expert

feature: finish UserTransactionPointsDetail design and web api query
  crates/coinfair/src/main.rs
  crates/database/src/cpmm/points/mod.rs
  crates/database/src/cpmm/points/transaction_detail_model.rs
  crates/database/src/cpmm/points/transaction_detail_repository.rs
  crates/database/src/lib.rs
  crates/server/src/api/solana/cpmm/points_controller.rs
  crates/server/src/dtos/solana/cpmm/points/mod.rs
  crates/server/src/dtos/solana/cpmm/points/transaction_detail.rs
  crates/server/src/services/solana/cpmm/lp_change_event/lp_change_event_service.rs
  crates/server/src/services/solana/cpmm/points/points_service.rs
  crates/server/src/services/solana/service.rs
Owners: @tech-lead, @rust-expert, @database-expert, @backend-dev, @api-expert, @business-logic-expert

feature: finish SwapEvent original data storage and UserPointsSummary and UserTransactionPointsDetail maintain when event reach
  crates/database/src/cpmm/mod.rs
  crates/database/src/cpmm/swap_event/mod.rs
  crates/database/src/cpmm/swap_event/model.rs
  crates/database/src/cpmm/swap_event/repository.rs
  crates/database/src/lib.rs
  crates/server/src/services/solana/cpmm/lp_change_event/lp_change_event_service.rs
  crates/solana-event-listener/src/parser/event_parser.rs
  crates/solana-event-listener/src/parser/swap_parser.rs
  crates/solana-event-listener/src/persistence/event_storage.rs
Owners: @database-expert, @backend-dev, @defi-expert, @solana-expert, @business-logic-expert, @blockchain-dev

feature: finish UserPointsSummary maintain when ClaimNFTEvent reach
  crates/solana-event-listener/src/parser/nft_claim_parser.rs
  crates/solana-event-listener/src/persistence/event_storage.rs
Owners: @solana-expert, @blockchain-dev, @backend-dev

feature: finish nft claim leaderboard
  crates/database/src/events/event_model/event_model_repository.rs
  crates/database/src/events/event_model/repository.rs
  crates/server/src/api/solana/cpmm/mod.rs
  crates/server/src/api/solana/cpmm/nft_claim_stats_controller.rs
  crates/server/src/api/solana/mod.rs
  crates/server/src/dtos/solana/cpmm/mod.rs
  crates/server/src/dtos/solana/cpmm/nft/claim_stats.rs
  crates/server/src/dtos/solana/cpmm/nft/mod.rs
  crates/server/src/services/solana/cpmm/mod.rs
  crates/server/src/services/solana/cpmm/nft/mod.rs
  crates/server/src/services/solana/cpmm/nft/nft_claim_stats_service.rs
  crates/solana-event-listener/src/recovery/backfill_handler.rs
Owners: @database-expert, @backend-dev, @api-expert, @business-logic-expert, @solana-expert, @blockchain-dev

feature: modify nft claimed leaderboard, stat by referral user
  crates/database/src/events/event_model/repository.rs
  crates/server/src/api/solana/cpmm/nft_claim_stats_controller.rs
  crates/server/src/dtos/solana/cpmm/nft/claim_stats.rs
  crates/server/src/dtos/solana/cpmm/nft/mod.rs
  crates/server/src/services/solana/cpmm/nft/nft_claim_stats_service.rs
Owners: @database-expert, @backend-dev, @api-expert, @business-logic-expert

bugfix: fix /api/v1/solana/events/cpmm/nft/claim-stats/by-referrer and /api/v1/solana/events/cpmm/nft/claim-stats/by-referrer/{address} stat logic bug
  crates/database/src/events/event_model/repository.rs
Owners: @database-expert, @backend-dev

bugfix: fix /api/v1/solana/events/cpmm/nft/claim-stats/by-referrer and /api/v1/solana/events/cpmm/nft/claim-stats/by-referrer/{address} stat logic bug
  crates/database/src/events/event_model/repository.rs
Owners: @database-expert, @backend-dev

nothing: nothing much
  crates/server/src/services/solana/cpmm/nft/nft_claim_stats_service.rs
Owners: @backend-dev, @business-logic-expert

feature: modify sort logic using user address instead of record updatetime to guarentee user points leaderboard has stable result when different user has the same points
  crates/database/src/cpmm/points/repository.rs
Owners: @database-expert, @backend-dev
