Repository Topo-Labs/Coinfair-Solana-Backend, changes with the owners that .github/CODEOWNERS names for each.
All owners: @project-owner, @tech-lead, @rust-expert, @devops-lead, @security-lead, @backend-dev, @database-expert, @api-expert, @business-logic-expert, @solana-expert, @blockchain-dev, @defi-expert, @frontend-dev, @qa-lead, @tech-writer, @performance-expert

.github/CODEOWNERS:

# 🔒 Coinfair代码所有者配置文件
# 此文件定义了代码库中不同部分的所有者和审查者
# 当创建pull request时，相关所有者将自动被请求进行代码审查

# ============ 全局规则 ============
# 默认情况下，以下用户对所有代码有审查权
* @project-owner @tech-lead

# ============ 核心架构 ============
# 主要配置文件和架构决策需要架构师审查
/Cargo.toml @tech-lead @rust-expert
/Cargo.lock @tech-lead @rust-expert  
/rustfmt.toml @tech-lead @rust-expert
/Makefile @devops-lead @tech-lead
/docker-compose.yaml @devops-lead @tech-lead
/.env.* @security-lead @devops-lead @tech-lead
/CLAUDE.md @tech-lead @project-owner

# ============ 主应用程序 ============
# 主要应用程序入口和协调逻辑
/crates/coinfair/ @tech-lead @rust-expert
/crates/utils/ @rust-expert @backend-dev

# ============ 数据库层 ============
# 数据模型、仓库模式和数据库迁移
/crates/database/ @database-expert @backend-dev
/migrations/ @database-expert @tech-lead
/schema/ @database-expert @tech-lead

# ============ API服务器 ============
# Web服务器、控制器、服务层和DTO
/crates/server/ @backend-dev @api-expert
/crates/server/src/api/ @api-expert @backend-dev
/crates/server/src/services/ @backend-dev @business-logic-expert
/crates/server/src/dto/ @api-expert @backend-dev

# ============ Solana区块链集成 ============
# Solana相关代码需要区块链专家审查
/crates/solana/ @solana-expert @blockchain-dev @tech-lead
/crates/solana/clmm/ @solana-expert @defi-expert
/crates/solana/clmm-client/ @solana-expert @blockchain-dev
/crates/solana/cpmm/ @solana-expert @defi-expert  
/crates/solana/cpmm-client/ @solana-expert @blockchain-dev
/crates/solana/referral/ @solana-expert @business-logic-expert

# ============ DeFi功能 ============
# DeFi业务逻辑和交换功能
/crates/dex/ @defi-expert @business-logic-expert @solana-expert

# ============ 事件监听器 ============
# 区块链事件监听和处理
/crates/solana-event-listener/ @solana-expert @blockchain-dev @backend-dev

# ============ 监控和定时器 ============
# 系统监控和定时任务
/crates/monitor/ @backend-dev @devops-lead
/crates/timer/ @backend-dev @business-logic-expert

# ============ Telegram机器人 ============
# Telegram集成和用户界面
/crates/telegram/ @frontend-dev @api-expert

# ============ 安全相关 ============
# 安全配置和认证相关代码需要安全团队审查
**/auth* @security-lead @backend-dev
**/security* @security-lead @tech-lead
**/jwt* @security-lead @backend-dev
**/*auth* @security-lead @backend-dev
**/*security* @security-lead @tech-lead

# ============ CI/CD和DevOps ============
# 构建、部署和CI/CD配置
/.github/ @devops-lead @tech-lead
/.github/workflows/ @devops-lead @tech-lead @security-lead
/Dockerfile @devops-lead @backend-dev
/scripts/ @devops-lead @tech-lead
/deploy/ @devops-lead @tech-lead @security-lead

# ============ 测试文件 ============
# 测试代码和测试脚本
/tests/ @qa-lead @backend-dev
/**/test_*.sh @qa-lead @devops-lead
/**/tests/ @qa-lead @backend-dev
/**/*test*.rs @qa-lead @backend-dev

# ============ 文档 ============
# 文档和README文件
/docs/ @tech-writer @tech-lead
/README.md @tech-writer @tech-lead @project-owner
/**/*.md @tech-writer

# ============ 配置文件 ============
# 各种配置文件需要相应专家审查
*.toml @rust-expert @tech-lead
*.yaml @devops-lead @backend-dev
*.yml @devops-lead @backend-dev
*.json @backend-dev
*.env @security-lead @devops-lead

# ============ 特殊业务逻辑 ============
# 关键业务逻辑需要业务专家和技术负责人共同审查
**/swap* @defi-expert @solana-expert @business-logic-expert
**/pool* @defi-expert @solana-expert @business-logic-expert  
**/liquidity* @defi-expert @solana-expert @business-logic-expert
**/reward* @business-logic-expert @defi-expert
**/referral* @business-logic-expert @defi-expert
**/clmm* @solana-expert @defi-expert @tech-lead
**/amm* @solana-expert @defi-expert @tech-lead

# ============ 性能关键代码 ============
# 性能敏感的代码需要性能专家审查
**/optimized* @performance-expert @rust-expert
**/performance* @performance-expert @backend-dev
**/batch* @performance-expert @backend-dev
**/cache* @performance-expert @backend-dev

# ============ 数据迁移和恢复 ============
# 数据迁移脚本需要数据库专家和安全团队审查
/Recover.md @database-expert @security-lead @tech-lead
**/migration* @database-expert @tech-lead
**/backup* @database-expert @devops-lead
**/restore* @database-expert @devops-lead

# ============ 第三方集成 ============
# 第三方服务集成需要安全审查
**/jupiter* @solana-expert @security-lead
**/raydium* @solana-expert @defi-expert
**/metaplex* @solana-expert @blockchain-dev

# ============ 团队成员说明 ============
# 以下是团队成员角色说明，实际使用时请替换为真实的GitHub用户名：
#
# @project-owner - 项目负责人
# @tech-lead - 技术负责人  
# @rust-expert - Rust专家
# @solana-expert - Solana区块链专家
# @defi-expert - DeFi领域专家
# @backend-dev - 后端开发工程师
# @blockchain-dev - 区块链开发工程师
# @database-expert - 数据库专家
# @security-lead - 安全负责人
# @devops-lead - DevOps负责人
# @api-expert - API设计专家
# @business-logic-expert - 业务逻辑专家
# @performance-expert - 性能优化专家
# @qa-lead - 测试负责人
# @tech-writer - 技术文档专家
# @frontend-dev - 前端开发工程师
#
# 使用说明：
# 1. 将上述占位符替换为实际的GitHub用户名
# 2. 根据团队结构调整审查规则
# 3. 可以使用团队名称 (如 @org/backend-team) 替代个人用户名
# 4. 规则从上到下匹配，后面的规则会覆盖前面的规则

fix: 修复rustfmt格式问题
  crates/database/src/permission_config/model.rs
Owners: @database-expert, @backend-dev

bugfix: handle when payer_referral is none
  .gitignore
  crates/database/src/token_info/model.rs
  crates/server/src/api/solana/token_controller.rs
  crates/server/src/services/solana/swap/service.rs
  crates/solana/clmm-client/src/instructions/amm_instructions.rs
  crates/solana/clmm-client/src/main.rs
  crates/solana/clmm/src/instructions/swap_v3.rs
  crates/utils/src/solana/builders.rs
  crates/utils/src/solana/service_helpers.rs
Owners: @project-owner, @tech-lead, @database-expert, @backend-dev, @api-expert, @defi-expert, @solana-expert, @business-logic-expert, @rust-expert

bugfix: rm rustfmt & clippy
  .github/workflows/ci.yml
  .github/workflows/security.yml
Owners: @devops-lead, @backend-dev

feature: rm all tests
  .github/workflows/ci.yml
  .github/workflows/database.yml
  .github/workflows/deploy.yml
Owners: @devops-lead, @backend-dev

feature: rm time consumable flow
  .github/WORKFLOW_OPTIMIZATION.md
  .github/workflows/ci.yml
  .github/workflows/database.yml
  .github/workflows/deploy.yml
  .github/workflows/security.yml
Owners: @tech-writer, @devops-lead, @backend-dev

feature: skip test to accerlerate deploy
  .cargo/config.toml
  .github/workflows/ci.yml
  .github/workflows/deploy.yml
Owners: @rust-expert, @tech-lead, @devops-lead, @backend-dev

fix: 彻底禁用GitHub Actions测试，解决rust.yml和aws.yml问题
  .cargo/config.toml
  .github/workflows/aws-disabled.yml
  .github/workflows/rust.yml
  Cargo.toml
  GITHUB_ACTIONS_TEST_FIX_REPORT.md
Owners: @rust-expert, @tech-lead, @devops-lead, @backend-dev, @tech-writer

Update aws.yml
  .github/workflows/aws.yml
Owners: @devops-lead, @backend-dev

Update aws.yml
  .github/workflows/aws.yml
Owners: @devops-lead, @backend-dev

feat: 优化重复构建问题
  .github/workflows/deploy.yml
  BUILD_OPTIMIZATION_REPORT.md
Owners: @devops-lead, @backend-dev, @tech-writer

fix: 彻底禁用AWS ECS workflow，修复MY_AWS_REGION错误
  .github/workflows/aws-disabled.yml
  .github/workflows/aws.yml
Owners: @devops-lead, @backend-dev

fix: 修复artifact跨workflow依赖问题
  .github/workflows/deploy.yml
Owners: @devops-lead, @backend-dev

feat: 完全禁用rust.yml消除重复编译
  .github/workflows/rust.yml
  BUILD_OPTIMIZATION_REPORT.md
Owners: @devops-lead, @backend-dev, @tech-writer

feat: 简化CI/CD流程，消除并发构建浪费
  .github/workflows/ci.yml
  .github/workflows/deploy.yml
Owners: @devops-lead, @backend-dev

fix: 修复AWS部署路径错误
  .github/workflows/deploy.yml
Owners: @devops-lead, @backend-dev

chore: fix static resource with https
  crates/server/src/dtos/static_dto.rs
  crates/utils/src/metaplex_service.rs
Owners: @backend-dev, @api-expert, @solana-expert, @blockchain-dev

chore: when do deploy first kill old service
  .cargo/config.toml
  .github/workflows/deploy.yml
  Cargo.lock
  Cargo.toml
  crates/server/Cargo.toml
  crates/solana-event-listener/Cargo.toml
  crates/solana/Cargo.toml
  crates/solana/clmm-client/Cargo.toml
  crates/solana/clmm/Cargo.toml
  crates/solana/clmm/src/instructions/swap_v3.rs
  crates/solana/cpmm-client/Cargo.toml
  crates/solana/cpmm-client/src/main.rs
  crates/solana/cpmm/Cargo.toml
  crates/solana/referral/Cargo.toml
  crates/solana/referral/src/lib.rs
  crates/utils/Cargo.toml
Owners: @rust-expert, @tech-lead, @devops-lead, @backend-dev, @solana-expert, @defi-expert, @blockchain-dev, @business-logic-expert

feature: add ssh debug info
  .github/README.md
  .github/workflows/deploy.yml
  debug-ssh-connection.sh
Owners: @tech-writer, @devops-lead, @backend-dev, @project-owner, @tech-lead

chore: try to fix path with dynamic user
  .github/workflows/deploy.yml
  test-ssh-connection.sh
Owners: @devops-lead, @backend-dev, @project-owner, @tech-lead

chore: modify docker-compose up -d to docker compose up -d
  .github/workflows/deploy.yml
Owners: @devops-lead, @backend-dev

chore: add CARGO_ENV and MONGO_DB env variable to deploy.sh
  .github/workflows/deploy.yml
  docker-compose.yaml
Owners: @devops-lead, @backend-dev

chore: delete useless fils
  .cursor/rules/coinfair-solana-backend-rules.mdc
  .github/DATABASE_TESTING_SOLUTION.md
  .github/README.md
  .github/WORKFLOW_OPTIMIZATION.md
  .gitignore
  BUILD_OPTIMIZATION_REPORT.md
  Cargo_test.toml
  GITHUB_ACTIONS_TEST_FIX_REPORT.md
  debug-ssh-connection.sh
  test-ci-local.sh
  test-database-local.sh
  test-ssh-connection.sh
  validate-github-actions.sh
Owners: @project-owner, @tech-lead, @tech-writer, @rust-expert

bugfix: fix get_rpc method, dynamically return rpc node according to env config
  crates/server/src/dtos/static_dto.rs
  error.txt
Owners: @backend-dev, @api-expert, @project-owner, @tech-lead

chore: update solana anchor to 0.31.1
  crates/solana/Cargo.toml
Owners: @rust-expert, @tech-lead

chore: delete deprecated files
  crates/server/src/api/solana_controller_deprecated.rs
  crates/server/src/dtos/solana_dto.rs
  crates/server/src/services/solana_service_deprecated.rs
Owners: @api-expert, @backend-dev, @business-logic-expert

feature: after received and parsed launch event, persist event data to mongodb for query and stat
  crates/database/src/event_model/mod.rs
  crates/database/src/event_model/repository.rs
  crates/database/src/lib.rs
  crates/server/src/api/solana/launch_event_controller.rs
  crates/server/src/api/solana/mod.rs
  crates/server/src/docs.rs
  crates/server/src/dtos/solana/events/launch_event.rs
  crates/server/src/dtos/solana/events/mod.rs
  crates/server/src/services/mod.rs
  crates/server/src/services/solana/launch_event/mod.rs
  crates/server/src/services/solana/launch_event/service.rs
  crates/server/src/services/solana/mod.rs
  crates/solana-event-listener/src/parser/launch_event_parser.rs
  crates/solana-event-listener/src/persistence/event_storage.rs
Owners: @database-expert, @backend-dev, @api-expert, @business-logic-expert, @solana-expert, @blockchain-dev

chore: modify launch event discriminator
  crates/solana-event-listener/src/parser/event_parser.rs
  crates/solana-event-listener/src/parser/token_creation_parser.rs
Owners: @solana-expert, @blockchain-dev, @backend-dev

feature: finish deposit event integrating
  MONGODB_AGGREGATION_PITFALLS.md
  crates/database/src/event_model/mod.rs
  crates/database/src/event_model/repository.rs
  crates/database/src/lib.rs
  crates/server/src/api/solana/deposit_event_controller.rs
  crates/server/src/api/solana/mod.rs
  crates/server/src/dtos/solana/events/deposit.rs
  crates/server/src/dtos/solana/events/mod.rs
  crates/server/src/services/solana/event/deposit_service.rs
  crates/server/src/services/solana/event/mod.rs
  crates/server/tests/deposit_event_integration_tests.rs
  crates/solana-event-listener/src/parser/deposit_event_parser.rs
  crates/solana-event-listener/src/parser/discriminator_deprecated.rs
  crates/solana-event-listener/src/parser/event_parser.rs
  crates/solana-event-listener/src/parser/mod.rs
  crates/solana-event-listener/src/parser/token_creation_parser.rs
  crates/solana-event-listener/src/persistence/event_storage.rs
Owners: @tech-writer, @database-expert, @backend-dev, @api-expert, @business-logic-expert, @qa-lead, @solana-expert, @blockchain-dev

feature: 1, finish launch platform homepage 7 apis query development and deposite history query; 2, finish TokenInfo extensions complementarity when received Deposit event
  crates/database/src/event_model/repository.rs
  crates/database/src/token_info/model.rs
  crates/database/src/token_info/repository.rs
  crates/server/src/api/solana/deposit_event_controller.rs
  crates/server/src/api/solana/token_controller.rs
  crates/server/src/dtos/solana/events/deposit.rs
  crates/server/src/services/solana/event/deposit_service.rs
  crates/server/src/services/solana/token/service.rs
  crates/solana-event-listener/src/parser/deposit_event_parser.rs
  crates/solana-event-listener/src/parser/event_parser.rs
  crates/solana-event-listener/src/parser/swap_parser.rs
  crates/solana-event-listener/src/parser/token_creation_parser.rs
  crates/solana-event-listener/src/persistence/batch_writer.rs
  crates/solana-event-listener/src/persistence/event_storage.rs
  crates/solana-event-listener/src/subscriber/subscription_manager.rs
  crates/solana-event-listener/src/tests/e2e_tests.rs
  crates/solana-event-listener/src/tests/full_e2e_test.rs
  crates/solana-event-listener/src/tests/integration_tests.rs
  crates/solana-event-listener/src/tests/simple_e2e_test.rs
  crates/utils/src/metaplex_service.rs
Owners: @database-expert, @backend-dev, @api-expert, @business-logic-expert, @solana-expert, @blockchain-dev, @defi-expert, @performance-expert, @qa-lead

chore: remove LaunchEvent listenning cause at this phase launch action was implemented in launch contract
  crates/solana-event-listener/src/parser/event_parser.rs
Owners: @solana-expert, @blockchain-dev, @backend-dev

chore: remove useless test shell after test them right
  MONGODB_AGGREGATION_PITFALLS.md
Owners: @tech-writer

bugfix: 1, filter repeated event signature early 2, when fetch meta uri network request use prebuild client instead of building one temperiraly
  crates/solana-event-listener/src/parser/token_creation_parser.rs
  crates/solana-event-listener/src/subscriber/subscription_manager.rs
  crates/utils/src/metaplex_service.rs
Owners: @solana-expert, @blockchain-dev, @backend-dev

feature: 1，when do scan missing events, always set before to None to get lastest signature for task; 2, add backfill ParserKey to precisely decide what program and event should be processed
  Cargo.lock
  crates/solana-event-listener/Cargo.toml
  crates/solana-event-listener/src/lib.rs
  crates/solana-event-listener/src/parser/event_parser.rs
  crates/solana-event-listener/src/parser/mod.rs
  crates/solana-event-listener/src/parser/token_creation_parser.rs
  crates/solana-event-listener/src/persistence/event_storage.rs
  crates/solana-event-listener/src/subscriber/backfill_handler.rs
  crates/solana-event-listener/src/subscriber/backfill_manager.rs
  crates/solana-event-listener/src/subscriber/backfill_task_context.rs
  crates/solana-event-listener/src/subscriber/subscription_manager.rs
  crates/solana-event-listener/src/tests/core_validation_test.rs
Owners: @tech-lead, @rust-expert, @solana-expert, @blockchain-dev, @backend-dev, @qa-lead

chore: 1, delete useless checkpoints design for websocket real data stream; 2, refactor backfiller related codes and files, move them into recovery directory
  crates/solana-event-listener/src/config/settings.rs
  crates/solana-event-listener/src/lib.rs
  crates/solana-event-listener/src/persistence/mod.rs
  crates/solana-event-listener/src/recovery/backfill_handler.rs
  crates/solana-event-listener/src/recovery/backfill_manager.rs
  crates/solana-event-listener/src/recovery/backfill_task_context.rs
  crates/solana-event-listener/src/recovery/checkpoint.rs
  crates/solana-event-listener/src/recovery/checkpoint_persistence.rs
  crates/solana-event-listener/src/recovery/mod.rs
  crates/solana-event-listener/src/recovery/retry_manager.rs
  crates/solana-event-listener/src/recovery/scan_record_persistence.rs
  crates/solana-event-listener/src/subscriber/mod.rs
  crates/solana-event-listener/src/subscriber/subscription_manager.rs
  crates/solana-event-listener/src/tests/e2e_tests.rs
  crates/solana-event-listener/src/tests/full_e2e_test.rs
  crates/solana-event-listener/src/tests/integration_tests.rs
Owners: @solana-expert, @blockchain-dev, @backend-dev, @qa-lead

feature: finish remaining missing event backfilling
  crates/database/src/event_model/event_model_repository.rs
  crates/database/src/event_model/mod.rs
  crates/database/src/lib.rs
  crates/database/src/serde_helpers.rs
  crates/solana-event-listener/src/parser/event_parser.rs
  crates/solana-event-listener/src/recovery/backfill_handler.rs
  crates/solana-event-listener/src/recovery/backfill_manager.rs
  crates/solana-event-listener/src/recovery/backfill_task_context.rs
  crates/utils/src/metaplex_service.rs
Owners: @database-expert, @backend-dev, @solana-expert, @blockchain-dev

bugfix: fix slots is null when update scan recrods
  crates/database/src/event_scanner/model.rs
  crates/database/src/event_scanner/repository.rs
  crates/solana-event-listener/src/recovery/backfill_task_context.rs
  crates/solana-event-listener/src/recovery/scan_record_persistence.rs
Owners: @database-expert, @backend-dev, @solana-expert, @blockchain-dev

bugfix: fix when parsing program data with the right program id
  crates/solana-event-listener/src/parser/event_parser.rs
  crates/solana-event-listener/src/persistence/event_storage.rs
  crates/solana-event-listener/src/services/migration_client.rs
Owners: @solana-expert, @blockchain-dev, @backend-dev, @database-expert, @tech-lead

feature: change launch contract programId
  crates/solana-event-listener/src/config/settings.rs
  crates/solana-event-listener/src/parser/event_parser.rs
  crates/solana-event-listener/src/recovery/backfill_handler.rs
  crates/solana-event-listener/src/recovery/backfill_manager.rs
  crates/solana-event-listener/src/services/migration_client.rs
Owners: @solana-expert, @blockchain-dev, @backend-dev, @database-expert, @tech-lead

feature: modify price_to_sqrt_price_x64 and sqrt_price_x64_to_price as requested
  .gitignore
  Cargo.lock
  crates/server/Cargo.toml
  crates/server/src/dtos/solana/pool/listing.rs
  crates/server/src/dtos/solana/position/mod.rs
  crates/server/src/dtos/solana/swap/basic.rs
  crates/server/src/dtos/solana/swap/raydium.rs
  crates/server/src/dtos/solana/swap/referral.rs
  crates/server/src/dtos/solana/swap/swap_v3.rs
  crates/server/src/dtos/user_dto.rs
  crates/server/src/services/solana/liquidity_line/service.rs
  crates/server/src/services/solana/position/service.rs
  crates/solana-event-listener/src/parser/nft_claim_parser.rs
  crates/solana-event-listener/src/parser/pool_creation_parser.rs
  crates/solana-event-listener/src/parser/reward_distribution_parser.rs
  crates/solana/clmm-client/src/instructions/utils.rs
  crates/utils/Cargo.toml
  crates/utils/src/metaplex_service.rs
  crates/utils/src/solana/position_utils.rs
  crates/utils/src/solana/position_utils_optimized.rs
  crates/utils/src/solana/swap_calculator.rs
Owners: @project-owner, @tech-lead, @rust-expert, @defi-expert, @solana-expert, @business-logic-expert, @backend-dev, @api-expert, @blockchain-dev

chore: modify service to use price_to_tick and tick_to_price function from crates/solana/clmm-client/src/lib.rs
  crates/solana/clmm-client/src/lib.rs
  crates/utils/src/solana/position_utils.rs
  crates/utils/src/solana/position_utils_optimized.rs
Owners: @solana-expert, @defi-expert, @tech-lead, @rust-expert, @backend-dev
